.profile__edit-button {
  margin: 16px 0 0 18px;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../../images/edit-button.svg);
}

@media screen and (max-width: 640px) {
  .profile__edit-button {
    margin: 3px 0 0 10px;
  }
}

.profile__edit-button:hover {
  opacity: .6;
}
