.profile__add-button {
  min-height: 50px;
  min-width: 150px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  justify-self: end;
  align-self: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../../images/add-button.svg);
}

@media screen and (max-width: 967px) {
  .profile__add-button {
    min-width: 100px;
    background-size: 100px 50px;
    background-position: right;
  }
}

@media screen and (max-width: 640px) {
  .profile__add-button {
    min-width: 282px;
    background-size: contain;
    background-position: center;
    background-image: url(../../../images/add-button-mobile.svg);
  }
}

.profile__add-button:hover {
  opacity: .6;
}
