.profile__caption {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  padding-top: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 967px) {
  .profile__caption {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .profile__caption {
    font-size: 14px;
    padding-top: 14px;
    line-height: normal;
  }
}
