.elements__heart {
  padding: 0;
  min-width: 22px;
  min-height: 19px;
  margin-right: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background: transparent;
  background-image: url(../../../images/white-heart.svg);
  border: none;
  cursor: pointer;
}

.elements__heart:hover {
  opacity: .5;
}
